h1{
    font-size: 61px;
    font-weight: 400;
}

.subheader{
    font-size: 20px;
    font-weight: 400;
}

h2{
    font-size: 18px;
    font-weight: 300;
}

h3{
    font-size: 20px;
    font-weight: 400;
}

h4{
    font-size: 16px;
    font-weight: 400;
}
