<div class="htmlData md:mx-auto md:w-[780px]">
  <div class="mx-3">
    <div class="flex flex-col justify-center h-60 md:h-72 items-start title">
      <h1>Nikhil Kini</h1>
      <h2 class="text-left subheader">
        Full Stack Developer | Java | Angular | Mechanical Engineer
      </h2>
      <div
        class="text-sm md:hidden pt-2 text-blue-300 hover:underline"
        href="nikhil-kini.com"
        target="_blank"
      >
        nikhil-kini.com
      </div>
      <div
        class="text-sm md:hidden text-blue-300 hover:underline"
        href="mailto:nikhilanandkini@gmail.com"
        target="_blank"
      >
        nikhilanandkini@gmail.com
      </div>
    </div>

    <div class="grid grid-cols-3 gap-1 md:gap-20 lg:gap-28">
      <div
        class="flex flex-col justify-start text-justify col-span-3 md:col-span-2"
      >
        <h2 class="uppercase mb-3">Experience</h2>
        <div class="my-3">
          <h3>Pragmat Tech</h3>
          <h4>
            <i>Full Stack Developer</i>
            &#9702; Mar '23 - Present
          </h4>
          <p class="my-1">
            Contributing by helping new businesses establish their digital
            persence, and aiding businesses with digital foot-print to improve
            their customer experience online.
          </p>
        </div>
        <div class="my-3">
          <h3>Infosys Ltd</h3>
          <h4><i>Test Engineer</i> &#9702; Nov '21 - Feb '23</h4>
          <p class="my-1">
            Worked with a banking client, to establish their
            <b>Digital Commerce</b> application under newly merged brand name of
            Truist. Contribued by creating automated test suit for the commerce
            products.
          </p>
        </div>
        <div class="my-3">
          <h3>Infosys Ltd</h3>
          <h4><i>System Engineer Trainee</i> &#9702; May '21 - Oct</h4>
          <p class="my-1">
            Joined has a Java Developer, contributed in building Restful API for
            a travel website.
          </p>
        </div>
        <div class="my-3">
          <h3>Brakes India Pvt Ltd</h3>
          <h4><i>Intern</i> &#9702; Jul '19 - Aug</h4>
          <p class="my-1">
            Interned in Product Development and Quality Assurance departments of
            the company. Worked on re-engineering rubber and polymer mould
            designs.
          </p>
        </div>
      </div>
      <div
        class="flex flex-col justify-start md:justify-between text-justify col-span-3 md:col-span-1 text-header-text dark:text-dark-header-text"
      >
        <div class="hidden md:block">
          <h2 class="uppercase mb-3">Contact</h2>

          <a
            class="text-sm text-blue-300 hover:underline"
            href="nikhil-kini.com"
            target="_blank"
            >nikhil-kini.com</a
          >
          <br />
          <div class="my-3">
            <a
              class="text-sm text-blue-300 hover:underline"
              href="mailto:nikhilanandkini@gmail.com"
              target="_blank"
              >nikhilanandkini@gmail.com</a
            >
          </div>
        </div>
        <div>
          <h2 class="uppercase mb-3">Education</h2>
          <div class="my-3">
            <h3>2016 - 2020</h3>
            <p class="my-1">
              Visvesvaraya Technological University (Mechanical Engineering)
            </p>
          </div>
          <div class="my-3">
            <h3>Till - 2016</h3>
            <p class="my-1">
              Sadvidya Composite PU College (Electronics XI, XII) <br />St.
              Anne's High School
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <h2 class="uppercase my-3">Skills</h2>
      <div class="grid grid-cols-3">
        <div class="col-span-1">
          <h3 class="mb-3">Key Skills</h3>
          <ul>
            <li>Java 8+</li>
            <li>Springboot</li>
            <li>HTML 5</li>
            <li>CSS 3</li>
            <li>Typescript</li>
            <li>Angular</li>
            <li>Git</li>
          </ul>
        </div>
        <div class="col-span-1">
          <h3 class="mb-3">Tools</h3>
          <ul>
            <li>Eclipse IDE</li>
            <li>VS Code</li>
            <li>Postman</li>
            <li>IntelliJ</li>
            <li>GitHub</li>
            <li>GitLab</li>
          </ul>
        </div>
        <div class="col-span-1">
          <h3 class="mb-3">Others</h3>
          <ul>
            <li>Agile</li>
            <li>Scrum</li>
            <li>Office</li>
            <li>Front-End Devlopment</li>
            <li>Back-End Devlopment</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<button (click)="openPDF()" class="w-20 h-12"></button>
